.hero {
  background-color: $c-black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $c-white;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    //Reducir con mixins
    max-width: 60%;
    @include respond( tab-port ) { max-width: 80%; }
    @include respond( phone-big ) { max-width: 90%; }

    & > img {
      border-radius: 50%;
      height: 20vh;
      width: auto;
      margin-bottom: 1rem;
    }

    & > h1 {
      font-size: 2.5rem;
      @include respond( phone-big ) { font-size: 1.8rem; }
    }

    & > h2 {
      font-size: 1.8rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      @include respond( phone-big ) { font-size: 1.3rem; }
      & > span {
        color: $c-blue;
      }
    }

  }

}

.projects {
  padding: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

  background-color: $c-gray-light;

  @include respond( laptop ) { padding:4rem; }
  @include respond( tab-port ) { padding:2rem; }
  @include respond( phone-tab ) { grid-template-columns: repeat(2,1fr); }
  @include respond( phone) { grid-template-columns: 1fr;}

  & > article {
    &:first-child{
      grid-column: 1/3;
      
      display: grid;
      grid-template-columns: repeat(6,1fr);
      gap: 2rem;


      @include respond( phone-tab ) { 
        grid-column: 1/2; 
        grid-template-columns: 1fr;
        gap: 0;
      }

      & > div:first-child{
        grid-column: 1/5;
         @include respond( phone-tab ) { grid-column: 1/2; }
        & > img {
          width: 100%;
        }
      }

      & > div:last-child {
        grid-column: 5/7;
         @include respond( phone-tab ) { grid-column: 1/2; }

        
      }

      
    }


    grid-column: auto;


    //Div with my image <div><img/></div>
    & > div:first-child > img { display: block; max-width: 100%; height: auto;}

    //Div with text
    & > div:last-child {
      & > h4{
        color: $c-blue;
        margin: 3rem 0 1rem 0;
        font-size: 1rem;
        text-transform: uppercase;
        @include respond( tab-port ) { font-size:.9rem;margin: 1rem 0; }
        @include respond( phone-tab ) { margin: .5rem 0; }
      }

      & > h2 {
        @include respond( tab-port ) { font-size: 1.2rem; }
      }

      & > p {
        margin: 1rem 0 1rem 0;
        color: $c-gray;

        @include respond( tab-port ) { margin: 1rem 0; }
      }
      

    }

    
    
    


  }
}



.tech{
 //min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  @include respond( phone-tab ) { grid-template-columns: 1fr;}
  &__image {
    background-image: linear-gradient(to right, rgba(24, 196, 234, .7),rgba(107, 228, 255, .7)), url("/images/photos/tech.jpg");
    background-position: center;
    background-size: cover;
   
    @include respond( phone-tab ) {
      min-height: 50vh;
    }
    
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap:4rem;
    padding: 8rem;


    @include respond( laptop ) { padding:4rem; }
    @include respond( tab-port ) { padding:2rem; }
    

    &--block {
      &__title {
        text-transform: capitalize;
        margin-bottom: 1rem;
        @include respond( phone-tab ) { text-align: center; font-size: 1.3rem;}
      }
      
      &__grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 1rem;

        @include respond( phone-tab ) { justify-items: center;}
        
        & > div {
          position: relative;
          height: 4rem;
          width: 4rem;

          @include respond( phone-tab ) { 
            height: 3rem;
          width: 3rem;
          }
          
        }
      }
    }

  }
}