
.button__hero,
.button__projects{
  text-transform: uppercase;
  color: $c-white;
  background-image: linear-gradient(to left, $c-blue, $c-blue-dark);
  
  border:none;
  font-size: 1rem;
  cursor: pointer;
  transition: all .5s ease-in-out;

  &:hover {
    transform: translate(2px,-3px);
  }
}

.button__hero {
  padding: 1rem 1.5rem;
}

.button__projects {
  padding: .5rem 1rem;
}
