.footer {
    background-color: $c-black;
    color: $c-white;
    text-align: center;
    font-size: 1rem;
    padding: 2rem 0;


    & > div > span {
        color: $c-blue;
        cursor: pointer;
        &:hover {
            color: $c-blue-dark;
        }
    }
}